.section_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form_container > input{
    color: black;
}
.newuser_container{
    width: 300px;
    height: 210px;
    padding: 10px;
    border-radius: 2rem;
    background-color: rgb(253, 227, 227);
}
.newuser_container h3{
    color: black;
}
.newuser_container form {
    color: black;
}
.newuser_container input{
    color: black;
}
.newuser_container label{
    color: black;
}
.users{
    width: 300px;
    height: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: rgb(253, 227, 227);
    border-radius: 2rem;
    padding: 10px;
    color: black;
}
.users h3{
    font-size: 20px;
    color: black;
}
.users a{
    color: black;
}
.user h2{
    color: black;
}
.removeruser:hover{
    color: red;
}
.concluidos{
    color: black;
}
.concluidos:hover{
    color: green;
}
.alterar:hover{
    color: aquamarine;
}
